# dirs
python_venv
python_envs
.cache
.content/**
.stfolder/**
.stignore/**
.cache/**
**/__pycache__
.stignore
menus/dmenu/.{gs}hist
.vscode/
tareas/tw_2_todo/
test/
**.env
.env
wordpress/.cache-pollolpc
# files
.pollo.sh
Discord-0.0.17-x86_64.AppImage
android/joinserver/deviceId
menus/dmenu/dmenu_mpd.sh
**.json
**.log
**.txt
**.bak
**.m3u
**/*.sqlite
**/*.token
**/*.torrent
Musica/lidarr/test.sh
Musica/lidarr/test_lidarr.sh
Musica/MoverMusica/testing
Musica/MoverMusica/playlist.m3u
Musica/MoverMusica/.cache-pollolpc
Musica/mpv/playlist
Musica/mpv/playlist_bak
snippets/Default-code-workspace
snippets/pollo.code-workspace
tareas/todo.txt
tareas/disco_pendiente.BAK.sh
utilities/pihole.db
utilities/wordpress/.cache-pollolpc
menus/musica/.content/artistas_img/
MOODE.sqlitea
menus/musica/.content/cache/**
/home/huan/Scripts/menus/musica/menu_blogs/mpv/lastfm_credentials.py
menus/musica/.content/token
menus/musica/spotify/.token
menus/musica/menu_blogs/mpv/lastfm_credentials.py
menus/musica/base_datos/config.yaml
utilities/tiddlywiki/wiki_obsidian.db
utilities/tiddlywiki/wiki_obsidian_plus.db
utilities/cron/obtener_json_datahoarder.py
Musica/blog/vvmm/.content/**
utilities/server/docker_web/config.ini
utilities/server/crear index musica web/config.ini
Musica/discos-nuevos/telegram_bot/muspy_bot.service
Musica/orpheus-api/buscar_ausentes_en_orpheus.py
Musica/blog/vvmm/.content/logs/hugo_server.log
Musica/conciertos/artist_tracker.db
