# dirs
.vscode/
tareas/tw_2_todo/
test/
gits/
python_envs/
# .env files
*.env
.env
android/.env
android/gasolineras/.env
backups/.env
boot/.env
boot/services/.env
comics/.env
lidarr/.env
links/.env
links/music_player/.env
maquinas-virtuales/.env
menus/.env
menus/dmenu/.env
Musica/blog/vvmm/post/.env
Musica/blog/vvmm/post/enlaces/.env
Musica/conciertos/ticketmaster/.env
Musica/estadisticas/lastfm/.env
Musica/lidarr/.env
Musica/MoverMusica/.env
Musica/orpheus-api/.env
Musica/MoverMusica/NewPipe/.env
Musica/playlist/spotify/.env
mpv/.env
Musica/playlist/youtube/.env
Musica/.env
Musica/conciertos/.env
Musica/estadísticas/.env
Musica/orpheus-api/,env
Musica/playlist/.env
path/.env
pihole/.env
utilities/server/.env
snippets/.env
tareas/.env
tareas/escuchar_tareas/.env
tareas/tw_2_todo/.env
tiddlywiki/.env
utilities/aliases/.env
utilities/awesome/.env
utilities/.env
utilities/comic/.env
utilities/maquinas-virtuales/.env
utilities/open_search_links/.env
utilities/open_search_links/music_player/.env
utilities/open_search_links/busqueda_api/.env
utilities/pihole/.env
utilities/pomodoro/.env

wireshark/.env
wordpress/.env
wordpress/.cache-pollolpc
# files
.pollo.sh
Discord-0.0.17-x86_64.AppImage
android/joinserver/deviceId

menus/dmenu/dmenu_mpd.sh
menus/dmenu/.{gs}hist

Musica/blog/enlaces/.env

Musica/conciertos/ticketmaster/seis-meses.txt
Musica/conciertos/ticketmaster/filtrado.json
Musica/conciertos/ticketmaster/filtrado.bak

Musica/lidarr/content.json
Musica/lidarr/artista_nuevo.json
Musica/lidarr/datos_nuevo_artista.json
Musica/lidarr/artistas_lidarr_f.json
Musica/lidarr/artistas_lidarr.json
Musica/lidarr/test.sh
Musica/lidarr/test_lidarr.sh

Musica/MoverMusica/playlist_actuales_ids.txt
Musica/MoverMusica/testing
Musica/MoverMusica/playlist.m3u
Musica/MoverMusica/.cache-pollolpc

Musica/mpv/playlist
Musica/mpv/playlist_bak

snippets/Default-code-workspace
snippets/pollo.code-workspace

tareas/todo.txt
tareas/todo.json
tareas/t_caldav.txt
tareas/t_todo.txt
tareas/export.json
tareas/tw_from_t_todo.json
tareas/disco_pendiente.BAK.sh

tareas/tw_2_todo/todo.txt
tareas/tw_2_todo/done.txt

utilities/pihole.db
utilities/pihole

utilities/wordpress/data.json
utilities/wordpress/canciones.txt

utilities/wordpress/.cache-pollolpc

python_venv
results.txt
.content/*
.stfolder
.stignore
artist_enrichment.log
artist_enrichment_checkpoint.json
utilities/aliases/__pycache__/
menus/__pycache__/*
menus/musica/__pycache__/
**/__pycache__/
**/token.txt
moode_def_18.sqlite
moode_nuevo.sqlite
.cache
.cache
.cache/*
.cache
menus/musica/.content/artistas_img/
moode.sqlite
music_library_scan_errors.log
MOODE.sqlitea
moode_bak.sqlite
menus/musica/.content/cache/*
MOODE.sqlite
